@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: oklch(0.141 0.005 285.823);
        --foreground: oklch(0.985 0 0);
        --card: oklch(0.21 0.006 285.885);
        --card-foreground: oklch(0.985 0 0);
        --popover: oklch(0.21 0.006 285.885);
        --popover-foreground: oklch(0.985 0 0);
        --primary: oklch(0.541 0.281 293.009);
        --primary-foreground: oklch(0.969 0.016 293.756);
        --secondary: oklch(0.274 0.006 286.033);
        --secondary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.274 0.006 286.033);
        --muted-foreground: oklch(0.705 0.015 286.067);
        --accent: oklch(0.274 0.006 286.033);
        --accent-foreground: oklch(0.985 0 0);
        --destructive: oklch(0.704 0.191 22.216);
        --destructive-foreground: oklch(1.0000 0 0);
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.541 0.281 293.009);
        --radius: 0.65rem;
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: oklch(0.985 0 0);
        --sidebar-primary: oklch(0.541 0.281 293.009);
        --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
        --sidebar-accent: oklch(0.274 0.006 286.033);
        --sidebar-accent-foreground: oklch(0.985 0 0);
        --sidebar-border: oklch(1 0 0 / 10%);
        --sidebar-ring: oklch(0.541 0.281 293.009);
        --sidebar: oklch(0.21 0.006 285.885);
        --font-sans: Inter, sans-serif;
        --font-serif: Lora, serif;
        --font-mono: JetBrains Mono, monospace;
        --spacing: 0.25rem;
        --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
        --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
        --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
        --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
        --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
        --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
        --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
        --tracking-normal: 0em;
    }

    .dark {
        --background: oklch(0.141 0.005 285.823);
        --foreground: oklch(0.985 0 0);
        --card: oklch(0.21 0.006 285.885);
        --card-foreground: oklch(0.985 0 0);
        --popover: oklch(0.21 0.006 285.885);
        --popover-foreground: oklch(0.985 0 0);
        --primary: oklch(0.541 0.281 293.009);
        --primary-foreground: oklch(0.969 0.016 293.756);
        --secondary: oklch(0.274 0.006 286.033);
        --secondary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.274 0.006 286.033);
        --muted-foreground: oklch(0.705 0.015 286.067);
        --accent: oklch(0.274 0.006 286.033);
        --accent-foreground: oklch(0.985 0 0);
        --destructive: oklch(0.704 0.191 22.216);
        --destructive-foreground: oklch(1.0000 0 0);
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.541 0.281 293.009);
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: oklch(0.985 0 0);
        --sidebar-primary: oklch(0.541 0.281 293.009);
        --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
        --sidebar-accent: oklch(0.274 0.006 286.033);
        --sidebar-accent-foreground: oklch(0.985 0 0);
        --sidebar-border: oklch(1 0 0 / 10%);
        --sidebar-ring: oklch(0.541 0.281 293.009);
        --sidebar: oklch(0.21 0.006 285.885);
        --radius: 0.65rem;
        --font-sans: Inter, sans-serif;
        --font-serif: Lora, serif;
        --font-mono: JetBrains Mono, monospace;
        --spacing: 0.25rem;
        --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
        --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
        --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
        --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
        --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
        --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
        --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
    }

    .theme {
        --font-sans: Inter, sans-serif;
        --font-serif: Lora, serif;
        --font-mono: JetBrains Mono, monospace;
        --radius: 0.65rem;
        --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
        --tracking-tight: calc(var(--tracking-normal) - 0.025em);
        --tracking-wide: calc(var(--tracking-normal) + 0.025em);
        --tracking-wider: calc(var(--tracking-normal) + 0.05em);
        --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    }

    body {
        letter-spacing: var(--tracking-normal);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}